.git
.venv
**/.venv
**/node_modules
**/.env
.claude
.idea
.vscode
.DS_Store
**/__pycache__
**/*.egg-info
**/build
**/dist
**/results
**/eval_results
**/playwright-report
**/test-results
**/blob-report
